P A {
	COLOR: #be7a40
}
H1 {
	FONT: 20px "Georgia"; COLOR: #666
}
P {
	FONT: 13px "Lucida Grande", "Verdana"; COLOR: #333
}
UL {
	FONT: 13px "Lucida Grande", "Verdana"; COLOR: #333
}
#back A {
	FONT-SIZE: 11px
}
#demo {
	MARGIN: 40px 70px 70px
}
H2 {
	MARGIN-TOP: 0px; FONT: 18px "Georgia"; COLOR: #666
}
H3 {
	TEXT-TRANSFORM: uppercase; FONT: bold 13px "Lucida Grande", "Verdana"; COLOR: #999
}
#slideshow-options UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#slideshow-options UL LI {
	LIST-STYLE-TYPE: none; PADDING-RIGHT: 0px; DISPLAY: inline
}
